.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  margin: auto 2em;
  width: fit-content;
  height: fit-content;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, [col] 42.5px);
  grid-template-rows: repeat(3, [row] 42.5px);
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 0.2em;
  align-items: center;
  transition: 1s;
}

.cell {
  width: 90%;
  height: 90%;
  background-color: #ccc;
  color: #444;
  margin: auto;
  border-radius: 0.5em;
}

.clicked {
  background-color: red;
}

.X {
  background: url("../../public/x.png") no-repeat center;
  background-size: 2em;
  background-color: #ccc;
  transition: ease-out 0.3s;
  transform: rotate(180deg);
}

.O {
  background: url("../../public/o.png") no-repeat center;
  background-size: 3.5em;
  background-color: #ccc;
  transition: ease-out 0.3s;
  transform: rotate(180deg);
}

.winX {
  background-color: rgba(223, 69, 69, 0.72);
}

.winO {
  background-color: rgba(69, 95, 223, 0.72);
}

.disabled-grid {
  background-color: rgba(103, 103, 103, 0.72);
}

.disabled-cell {
  background-color: #0000006f;
}

.filler {
  width: 33%;
}

.playersInfo {
  width: 33%;
  margin: auto;
}

.playersInfo p {
  transition: 1s;
}

.playersInfo .title {
  line-height: 1em;
  font-weight: 900;
  font-size: larger;
}

main {
  display: flex;
  flex-direction: row;
}

.div-symbol {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 20px;
}

.div-symbol p {
  margin: 0;
}

.X-mini {
  width: 1.1em;
  height: 1.1em;
  margin: auto 0.4em;
  transition: 0.3s;
}

.O-mini {
  width: 2em;
  height: 2em;
  margin-top: -0.25em;
  transition: 0.3s;
}

.arrow-selected {
  /* background-color: rgba(137, 255, 172, 0.85); */
  animation: bg .8s ease-in;
  -webkit-animation: bg .8s ease-in;
  -moz-animation: bg .8s ease-in;
  -ms-animation: bg .8s ease-in;
  -o-animation: bg .8s ease-in;
}

@keyframes bg {
  0% {
    background: rgba(137, 255, 172, 1);
  }
  25% {
    background: rgba(137, 255, 172, 0.8);
  }
  75% {
    background: rgba(137, 255, 172, 0.5);
  }
  100% {
    background: rgba(137, 255, 172, 0);
  }
}

@-webkit-keyframes bg {
  0% {
    background: rgba(137, 255, 172, 1);
  }
  25% {
    background: rgba(137, 255, 172, 0.8);
  }
  75% {
    background: rgba(137, 255, 172, 0.5);
  }
  100% {
    background: rgba(137, 255, 172, 0);
  }
}

@-moz-keyframes bg {
  0% {
    background: rgba(137, 255, 172, 1);
  }
  25% {
    background: rgba(137, 255, 172, 0.8);
  }
  75% {
    background: rgba(137, 255, 172, 0.5);
  }
  100% {
    background: rgba(137, 255, 172, 0);
  }
}

@-ms-keyframes bg {
  0% {
    background: rgba(137, 255, 172, 1);
  }
  25% {
    background: rgba(137, 255, 172, 0.8);
  }
  75% {
    background: rgba(137, 255, 172, 0.5);
  }
  100% {
    background: rgba(137, 255, 172, 0);
  }
}

@-o-keyframes bg {
  0% {
    background: rgba(137, 255, 172, 1);
  }
  25% {
    background: rgba(137, 255, 172, 0.8);
  }
  75% {
    background: rgba(137, 255, 172, 0.5);
  }
  100% {
    background: rgba(137, 255, 172, 0);
  }
}

/*=================== 
    Media Queries 
===================*/
/* Prevent the hover effect on touch screens */
@media (hover: hover) {
  .cell:hover {
    cursor: pointer;
    background-color: rgba(126, 126, 126, 0.72);
  }
}

@media (max-width: 850px) {
  .box {
    grid-template-columns: repeat(3, [col] 37px);
    grid-template-rows: repeat(3, [row] 37px);
  }

  .X {
    background-size: 1.75em;
  }

  .O {
    background-size: 3.3em;
  }
}

@media (max-width: 800px) {
  .box {
    grid-template-columns: repeat(3, [col] 35px);
    grid-template-rows: repeat(3, [row] 35px);
  }

  .X {
    background-size: 1.65em;
  }

  .O {
    background-size: 3em;
  }

  main {
    width: 100%;
  }

  .playersInfo {
    width: 85%;
  }

  .playersInfo .title {
    font-size: 1.1em;
  }

  .playersInfo p {
    font-size: 0.9em;
  }
}

@media (max-width: 730px) {
  main {
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
  }

  .box {
    grid-template-columns: repeat(3, [col] 40px);
    grid-template-rows: repeat(3, [row] 40px);
    transition: 1s;
  }

  .playersInfo {
    display: flex;
    flex-direction: row;
  }

  .playersInfo p {
    font-size: 0.9em;
  }

  .playersInfo .title {
    font-size: 1em;
  }

  .container {
    width: auto;
    height: 100%;
    margin: auto;
    padding: 0 1em;
  }

  .grid-wrapper {
    margin: auto;
  }
}

@media (max-width: 550px) {
  main {
    margin: 1em auto;
  }

  .box {
    grid-template-columns: repeat(3, [col] 38px);
    grid-template-rows: repeat(3, [row] 38px);
  }

  .playersInfo p {
    font-size: 0.9em;
  }

  .playersInfo .title {
    font-size: 1em;
  }

  .playersInfo {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .box {
    grid-template-columns: repeat(3, [col] 34px);
    grid-template-rows: repeat(3, [row] 34px);
  }

  .playersInfo p {
    font-size: 0.8em;
  }

  .playersInfo .title {
    font-size: 0.9em;
  }
}
