.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, [col] auto ) ;
  grid-template-rows: repeat(3, [row] auto  );
  margin:2.25em auto;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.box {
  display: grid;
  grid-template-columns: repeat(3, [col] 42.5px ) ;
  grid-template-rows: repeat(3, [row] 42.5px  );
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 0.2em;
  align-items: center;
}

.cell {
  width:90%;
  height:90%;
  background-color: #ccc;
  color: #444;
  margin: auto;
  border-radius: .5em;
}

.cell:hover {
  cursor: pointer;
  background-color: rgba(126, 126, 126, 0.72);
}

.clicked {
  background-color: red;
}

.playX {
  background: url('../../public/x.png') no-repeat center;
  background-size: 2em;
  background-color: #ccc;
}

.playO {
  background: url('../../public/o.png') no-repeat center;
  background-size: 3.5em;
  background-color: #ccc;
}