.playersInfo {
  width: 33%;
  margin: auto;
}

.playersInfo p {
  transition: 1s;
  color: rgb(82, 82, 82);
}

.playersInfo p span{
  transition: 1s;
  font-weight: normal;
  color: rgb(0,0,0);
}

.playersInfo .title {
  line-height: 1em;
  font-weight: bolder;
  font-size: larger;
  color: rgb(0,0,0);
}

/*=================== 
    Media Queries 
===================*/

@media (max-width: 800px) {
  .playersInfo {
    width: 85%;
  }

  .playersInfo .title {
    font-size: 1.1em;
  }

  .playersInfo p {
    font-size: 0.9em;
  }
}

@media (max-width: 730px) {
  .playersInfo {
    display: flex;
    flex-direction: row;
  }

  .playersInfo p {
    font-size: 0.9em;
  }

  .playersInfo .title {
    font-size: 1em;
  }

  .container {
    width: auto;
    height: 100%;
    margin: auto;
    padding: 0 1em;
  }
}

@media (max-width: 550px) {
  .playersInfo p {
    font-size: 0.9em;
  }

  .playersInfo .title {
    font-size: 1em;
  }

  .playersInfo {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 400px) {
  .playersInfo p {
    font-size: 0.8em;
  }

  .playersInfo .title {
    font-size: 0.9em;
  }
}
