.playersInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 170px;
}

.playersInfo p {
  transition: 1s;
  color: rgb(82, 82, 82);
}

.playersInfo p span {
  transition: 1s;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.playersInfo .title {
  margin: 0 0 1em 0;
  line-height: 1em;
  font-weight: bolder;
  font-size: larger;
  color: rgb(0, 0, 0);
}

/*=================== 
    Media Queries 
===================*/
 @media (max-width: 600px) {
  .playersInfo {
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 1.5em;
  }

  .playersInfo p {
    font-size: 1em;
  }

  .playersInfo .title {
    font-size: 1.1em;
  }

  .container {
    width: auto;
    height: 100%;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .playersInfo p {
    font-size: 0.9em;
  }

  .playersInfo .title {
    font-size: 1em;
  }
}